@use "../../foundation/vars" as v;

// --------------------------------------------------------
// Component: Section Title
// --------------------------------------------------------
.c-title {
  font-size: v.$fz-h2;
  font-weight: v.$fw-w6;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word
}