@use "../../foundation/mixin" as m;

.p-gallery {
    margin-bottom: 60px;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 16px;

        @include m.mq-sp {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }
}