@use "../../foundation/mixin" as m;

.p-hero {
    margin-bottom: 1000px;

    &__container {
        overflow: hidden;

        @include m.mq-sp {
            padding: 0;
        }

        img {
            width: 100%;
            aspect-ratio: 1000 / 400;
            object-fit: cover;
        }
    }

}